@import '../../styles/colors.scss';
@import '../../styles/spaces.scss';


.article_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    height: 360px;
    width: 335px;

    border: 1px solid $disabled-color;
    border-radius: 10px;

    &:hover {
        box-shadow: 0 4px 8px 0 $ternary-color;
        transform: translatey(-4px) !important;
    }

    .image_container {
        position: relative;

        height: 200px;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;

            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        flex: 1;

        color: $primary-color;
        background-color: $background-color;

        padding: 12px;

        h1 {
            font-size: 0.9rem;
            font-weight: 600;

            margin-bottom: 8px;
        }

        p {
            font-size: 0.7rem;
            color: $secondary-color;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        gap: 12px;

        background-color: $background-button-color;

        padding: 12px;
        justify-content: space-between;

        font-size: 0.7rem;

        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        div {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            gap: 4px;

            span {
                font-size: 0.6rem;

                overflow: hidden;
                text-overflow: ellipsis;

                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }
    }


}