@import './colors.scss';

* {
    box-sizing: border-box;
    letter-spacing: .1rem;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    background-color: $background-color;
    color: $primary-color;

    min-height: 100vh;

    z-index: 1;
}

a {
    color: $primary-color;
    transition: color 0.3s;
}

::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-thumb {
    background: $background-color;
    transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: $background-ternary-color;
}

::-webkit-scrollbar-track {
    background: $background-button-color;
}