$site-content-width: 1080px;

$media-query-mobile: "only screen and (max-width: 667px)";
$media-query-tablet: "only screen and (min-width: 668px) and (max-width: 1080px)";
$media-query-desktop: "only screen and (min-width: 1081px)";

$outside-gap: 16px;
$inside-gap: 16px;
$group-gap: 10px;