@import '../../styles/colors.scss';
@import '../../styles/spaces.scss';

.breadcrumb {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin: 0 2px 16px 2px;

    font-size: 0.8rem;

    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    li {
        float: left;

        a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            gap: 4px;

            position: relative;

            height: 32px;
            line-height: 32px;

            color: #FFF;
            background: $background-button-color;

            padding: 0 8px 0 5px;

            text-align: center;
            margin-right: 23px;

            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                border: 0 solid $background-button-color;
                border-width: 16px 10px;
                width: 0;
                height: 0;
            }

            &:before {
                left: -20px;
                border-left-color: transparent;
            }

            &:after {
                left: 100%;
                border-color: transparent;
                border-left-color: $background-button-color;
            }

            &:hover {
                background-color: $background-color;

                &:before {
                    border-color: $background-color;
                    border-left-color: transparent;
                }

                &:after {
                    border-left-color: $background-color;
                }
            }
        }

        &:first-child {
            a {
                padding-left: 15px;
                border-radius: 4px 0 0 4px;

                &:before {
                    border: none;
                }
            }
        }

        &:last-child {
            a {
                padding-right: 15px;
                border-radius: 0 4px 4px 0;

                background-color: $background-color;

                &:before {
                    border-color: $background-color;
                    border-left-color: transparent;
                }

                &:after {
                    border: none;
                }
            }
        }
    }
}

@media #{$media-query-mobile} {
    .breadcrumb {
        margin: 12px 0;

        font-size: 0.6rem;

        li {
            a {
                padding: 0 8px 0 0;
            }
        }

    }
}