@import '../../styles/colors.scss';
@import '../../styles/spaces.scss';

.articles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    gap: 32px;

    width: 100%;
    max-width: $site-content-width;

    .articles_grid {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: 32px;

        flex-wrap: wrap;

        a {
            color: $primary-color;
        }
    }

    .empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 16px;

        width: 100%;
        height: 60vh;

        border: 1px dashed #aaaaaa8e;
        border-radius: 8px;
    }
}