@import '../../styles/colors.scss';

.filter_category {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    gap: 20px;

    height: calc(618px - 64px);

    margin-top: 64px;
    padding: 16px 24px;

    background-color: $background-button-color;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        gap: 12px;

        .box {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            gap: 12px;

            .stage {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width: 200px;
                height: 60px;

                border-radius: 10px;
                background-color: $background-color;

                &.active {
                    background-color: $background-secondary-color;
                }

                &:hover {
                    cursor: pointer;
                    background-color: $background-secondary-color;
                }
            }

            .more {
                font-size: 12px;
                text-decoration: underline;

                &:hover {
                    cursor: pointer;
                    background-color: $background-secondary-color;
                }
            }

            .arrow_down {
                width: 0;
                height: 0;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-top: 12px solid #ccc;
            }

        }
    }
}