@import '../styles/colors.scss';
@import '../styles/spaces.scss';

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    flex-grow: 1;

    background-color: $background-secondary-color;

    padding: 36px;
}

.space {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    width: 100%;

    position: relative;
}

@media #{$media-query-mobile} {
    .main {
        padding: 36px 24px;
    }
}