@import '../styles/colors.scss';
@import '../styles/spaces.scss';

.home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 32px;

    max-width: $site-content-width;

    .feed {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;

        gap: 32px;

        flex-wrap: wrap;

        margin-top: 20px;

        .spacer {
            flex: 1 1 100%;
        }
    }
}

@media #{$media-query-mobile} {
    .home {
        .feed {
            padding: 0 24px;
        }
    }
}