@import '../../styles/colors.scss';
@import '../../styles/spaces.scss';

.news {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 32px;

    flex-wrap: wrap;

    width: 100%;

    padding: 16px 48px;
    
    a {
        color: $primary-color;
    }
}