@import '../../styles/colors.scss';
@import '../../styles/spaces.scss';

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    padding: 24px;

    background-color: $background-secondary-color;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            gap: 16px;

            img {
                height: 48px;
                width: 56px;
            }

            .title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                gap: 2px;

                h1 {
                    font-size: 1.2rem;
                    font-weight: 700;

                    color: $primary-color;

                    strong {
                        font-size: 1.4rem;
                        font-weight: 800;
                        color: transparent;
                        // text-shadow: 0 0 1rem $logo-color;
                        background: linear-gradient(to left,
                                #58b9a3,
                                #4cabad,
                                #3b97bf,
                            );
                        -webkit-background-clip: text;
                        background-clip: text;
                    }

                    .abbreviate {
                        display: none;
                    }
                }

                h2 {
                    font-size: 0.9rem;
                    font-weight: 200;
                    color: $secondary-color;
                }
            }
        }

        .side {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            gap: 16px;
        }

        .social_list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            gap: 16px;

            a {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                background-color: $primary-color;
                border-radius: 8px;

                padding: 8px;

                i {
                    text-align: center;

                    padding-top: 2px;
                    padding-left: 1px;

                    font-size: 1.2rem;
                    color: $background-color;
                }

                &:hover {
                    background-color: $secondary-color;
                }
            }
        }
    }
}

@media #{$media-query-mobile} {
    .header {
        padding: 16px 16px;

        .content {
            .logo {
                img {
                    height: 42px;
                    width: 42px;
                }

                .title {
                    h1 {
                        font-size: 0.9rem;
                    }

                    h2 {
                        display: none;
                    }
                }
            }

            .side {
                .social_list {
                    display: none;
                }
            }
        }
    }
}