@import '../../styles/colors.scss';
@import '../../styles/spaces.scss';

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: $site-content-width + 120px;
        
        margin-top: 28px;

        a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            gap: 8px;

            padding: 20px 20px 20px 20px;

            min-width: 75px;
        }

        .active {
            background-color: $background-secondary-color;

            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }

        .side {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}

@media #{$media-query-mobile} {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        font-size: 0.65rem;

        margin-top: 12px;

        padding: 0 4px;

        .content {
            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                color: $primary-color;
                padding: 20px 8px 20px 8px;

                i {
                    font-size: 1.2rem;
                }
            }

            .side {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }
    }
}