@import '../../styles/colors.scss';
@import '../../styles/spaces.scss';

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;

    align-self: center;
    
    margin-top: 28px;

    width: 100%;
    max-width: $site-content-width;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .side {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            a {
                // display: flex;
                // flex-direction: row;
                // justify-content: center;
                // align-items: center;

                // gap: 8px;

                // padding: 20px 20px 20px 20px;

                // min-width: 75px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                gap: 8px;

                color: $primary-color;
                padding: 20px;

                i {
                    font-size: 1.2rem;
                }

                &.active {
                    background-color: $background-secondary-color;

                    border-top-left-radius: 25px;
                    border-top-right-radius: 25px;
                }
            }
        }
    }
}

@media #{$media-query-mobile} {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        font-size: 0.65rem;

        margin-top: 12px;

        padding: 0 4px;

        .content {
            .side {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    color: $primary-color;
                    padding: 20px 8px 20px 8px;

                    i {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}