@import '../../styles/colors.scss';
@import '../../styles/spaces.scss';

.label_category {
    font-size: 0.7rem;
    font-weight: 500;

    color: #fff;
    background-color: $background-button-color;

    padding: 4px 12px;

    border-radius: 3px;

    white-space: nowrap;
}

@media #{$media-query-mobile} {
    .label_category {
        font-size: 0.6rem;
        padding: 2px 6px;
    }
}