@import '../../styles/colors.scss';
@import '../../styles/spaces.scss';

.services_page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;

    gap: 32px;

    padding: 20px;

    max-width: $site-content-width;

    h1 {
        color: $primary-color;

        font-size: 2rem;
        font-weight: 700;
    }


    section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        gap: 16px;

        h2 {
            padding: 16px 24px;

            background: linear-gradient(to right, #2d333b, #22272e);
        }

        p {
            a {
                color: $link-color;
                text-decoration: underline;
                font-weight: 500;

                &:hover {
                    color: #2740ce;
                }
            }

            b {
                font-weight: 700;
            }
        }

        ul {
            margin-left: 36px;

            li {
                list-style: disc;
            }
        }
    }

    h3 {
        color: $primary-color;

        font-size: 1.1rem;
        font-weight: 700;
    }
}