@import '../../styles/colors.scss';
@import '../../styles/spaces.scss';


.date_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    gap: 2px;

    time {
        font-size: 0.7rem;
        font-weight: 500;

    }
}

@media #{$media-query-mobile} {
    .date_card {
        time {
            font-size: 0.6rem;
        }
    }
}