@import '../../styles/colors.scss';
@import '../../styles/spaces.scss';


.date_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    gap: 4px;

    .group {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        gap: 2px;

        i {
            text-align: center;
            vertical-align: super;
        }

        .short_date {
            font-size: 0.7rem;

            display: none;
            white-space: nowrap;
        }

        .long_date {
            font-size: 0.7rem;

            display: inline-block;
            white-space: nowrap;
        }

        time {
            font-size: 0.7rem;
            font-weight: 500;

            white-space: nowrap;
        }
    }
}

@media #{$media-query-mobile} {
    .date_card {
        .group {
            .short_date {
                font-size: 0.6rem;

                display: inline-block;
            }

            .long_date {
                font-size: 0.7rem;

                display: none;
            }

            time {
                font-size: 0.7rem;

                font-size: 0.5rem;
            }
        }
    }
}