@import '../../../styles/colors.scss';
@import '../../../styles/spaces.scss';

.article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    gap: 36px;

    max-width: $site-content-width;

    header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        height: 75vh;

        .top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            gap: 16px;

            margin-bottom: $outside-gap;

            h1 {
                font-size: 1.3rem;
                font-weight: 600;
                margin-left: 4px;
            }

            span {
                text-transform: capitalize;

                color: #fff;
                padding: 4px 12px;
                background-color: $background-button-color;
                border-radius: 3px;
                margin-right: 5px;
            }
        }

        h2 {
            font-size: 0.9rem;
            font-weight: 500;
            margin-bottom: $outside-gap;
            margin-left: 4px;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            gap: 16px;

            li {
                font-size: 0.7rem;
                font-weight: 500;

                color: #fff;
                padding: 4px 12px;
                background-color: $background-button-color;
                border-radius: 3px;
                margin-right: 5px;
            }
        }

        .image_container {
            position: relative;

            flex: 1;

            margin-top: $outside-gap;
            margin-bottom: $outside-gap;

            img {
                width: 100%;
                border-radius: 10px;
            }
        }

        .bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(240, 240, 240, 0), rgba(240, 240, 240, 0.75), rgba(240, 240, 240, 0));
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        margin-bottom: 40px;

        p {
            font-size: 1rem;
            font-weight: 400;
        }

        img {
            width: 100%;
            border-radius: 10px;
        }

        ul {
            list-style-type: none;

            li {
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 8px;
                position: relative;
                padding-left: 20px;
                line-height: 1.5;

                &::before {
                    content: "•";
                    position: absolute;
                    left: 0;
                    color: $primary-color;
                }
            }
        }
    }
}

@media #{$media-query-mobile} {
    .article {

        gap: 24px;

        header {
            height: 52vh;

            .top {
                h1 {
                    font-size: 1.1rem;
                }

                span {
                    font-size: 0.7rem;
                }
            }

            h2 {
                font-size: 0.8rem;
            }

            .image_container {
                margin-top: $inside-gap;
                margin-bottom: $inside-gap;
            }

            .bottom {
                .date {
                    font-size: 0.7rem;

                    .group {
                        time {
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }

        main {
            .content {
                p {
                    font-size: 0.9rem;
                }
            }
        }
    }
}