@import '../../styles/colors.scss';
@import '../../styles/spaces.scss';


.profile_card {
    display: flex;
    flex-direction: row;
    justify-content: flex - start;
    align-items: center;

    gap: 16px;

    margin-left: 4px;

    .image_container {
        img {
            border-radius: 50%;
            margin: 0;
        }
    }

    .info {
        h3 {
            font-size: 0.9rem;
            font-weight: 600;

            margin: 0;
        }

        p {
            font-size: 0.8rem;
            font-weight: 500;

            margin: 0;
        }
    }
}

@media #{$media-query-mobile} {
    .profile_card {
        .info {
            h3 {
                font-size: 0.8rem;
                font-weight: 600;

                margin: 0;
            }

            p {
                font-size: 0.7rem;
                font-weight: 500;

                margin: 0;
            }
        }
    }
}